window {
    border-radius: 16px;
    border: 2px solid #cba6f7;
    background-color: #1e1e2e;
}

#input {
    border-radius: 12px;
    border: 1px solid #cba6f7;
    background-color: #313244;
    color: #cdd6f4;
    margin: 8px;
    padding: 8px 12px;
}

#inner-box {
    background-color: #1e1e2e;
}

#outer-box {
    padding: 8px;
}

#entry {
    border-radius: 8px;
    padding: 6px 12px;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #313244;
    color: #cba6f7;
}

#text {
    color: #cdd6f4;
    margin-left: 8px;
}

#text:selected {
    color: #cba6f7;
}